
body {
  margin: 2%;
  background: #ff9a9e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.screen {
  text-align: center;
  color: #fff;
  margin: 15%;
}

.screen1 {
  text-align: center;
  color: #fff;
}

.hidden { display: none; }

h1 { font-size: 2rem; }

.cake-box {
  margin-top: 30px;
  cursor: pointer;
  position: relative;
}

svg {
  width: 220px;
  transition: transform 1s ease;
}

.cut svg {
  transform: scale(0.9);
}

.knife {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  opacity: 0;
}

.cut .knife {
  animation: cut 3s forwards;
}

@keyframes cut {
  0% { top: -50px; opacity: 1; }
  100% { top: 140px; opacity: 0; }
}

.confetti {
  position: absolute;
  width: 8px;
  height: 8px;
  animation: fall 2s linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(600px) rotate(360deg);
    opacity: 0;
  }
}

.btn{
    width: 250px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: #FFB6C1;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    box-shadow: #000 0px 2px 3px -1px, #000 0px 1px 2px -1px;

}

.heart {
  position: absolute;
  font-size: 28px;
  cursor: pointer;
  animation: pop 0.2s ease;
}

@keyframes pop {
  from { transform: scale(0); }
  to { transform: scale(1); }
}








/* chhed rhaa hunn ab */





/* ===== SCREEN 4 BASE ===== */
#screen4 {
  padding: 40px 20px;
  min-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  text-align: center;
}

/* ===== TEXT ===== */
.gallery-title {
  font-size: 2.5rem;
  color: #ff5fa2;
  margin-bottom: 8px;
}

.gallery-subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
}

/* ===== GALLERY ===== */
.memory-gallery {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ===== PHOTO CARD ===== */
.memory-card {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 22px;
  padding: 14px;
  box-shadow: 0 12px 25px rgba(255, 105, 180, 0.25);
}

.memory-card img {
  width: 100%;
  border-radius: 18px;
  margin-bottom: 10px;
}

.memory-card p {
  font-size: 1rem;
  color: #ff4f91;
}













.floating-words-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* lets clicks go through */
  overflow: hidden;
  z-index: 9999; /* above everything */
}

.floating-word {
  position: absolute;
  font-size: 18px;
  color: #ff2e85;
  font-weight: bold;
  user-select: none;
  opacity: 1;
  transition: transform 8s linear, opacity 8s linear;
}


p{
    font-size: 1.5rem;
    font-weight: bold;
}

